<% @users.each do |user| %>
  <p><%= user.username %> <%= user.email %> <%= user.age %></p>
<% end %>
<% @cats.each do |cat| %>
  <p><%= cat.name %></p>
<% end %>
<% @todos.each do |todo| %>
  <p><%= puts todo.tasks %> <%= puts todo.finished %></p>
<% end %>